header {
  background-color: #21400F;
  padding: 10px 0;
  color: white;
  top: 0;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.brand-name {
  font-size: 32px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin-left: 20px;
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: white;
}