.skeleton {
  background: #ddd;
  margin: 10px 0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.wrapper {
  background-color: #f6f6f6;
  padding: 10px;
  position: relative;
  border-radius: 4px;
  margin: 10px 0;
}

.title {
  width: 200px;
  height: 32px;
}


.text {
  height: 20px;
}

.image {
  margin: 0 auto;
  height: 250px;
  border-radius: 4px;
}

@media screen and (max-width:576px) {
  .image {
    height: 150px;
  }
}

.second {
  background-color: #aaa;
}

.shimer {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.2);
  top: 0;
  left: 0;
  animation: loading 1s infinite alternate;
}

@keyframes loading {
  0% {
    transform: translateX(-160%) skewX(-20deg);
  }

  100% {
    transform: translateX(200%) skewX(-20deg);
  }
}